.new__nav{
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    width: 100%;
    text-align: center;
    color: white;
}
.new__nav__content{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.netflix__img  .net__logo{
    width: 150px;
    height: 100%;
}

.user__avatar .net__avatar{
    width: 50px;
}

@media screen  and (max-width:768px){
    .netflix__img .net__logo {
        width: 80px;
        height: 70%;
    }
    .user__avatar .net__avatar{
        width: 35px;
    }
}